/* General */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
}

menu {
  all: unset;
}

/* Blocks */

#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border: 1px solid #EBEAED;
  width: 764px;
  height: 412px;
  border-radius: 8px;
  padding: 32px 30px 32px;
}

.slide {
  display: flex;
  flex-direction: column;
}

.pagination {
  display: flex;
  justify-content: space-between;
}

/* // todo .illustration */
/* font-family="CMU Serif" */